# Import Package

In [1]:
import requests
from bs4 import BeautifulSoup

# Import url

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

In [5]:
response= requests.get(url)

# beautifulSoup simple use casse

In [22]:
# # soup = response.text
# print(response.text)

soup = BeautifulSoup(response.content, "html.parser")
print(soup.title)
print(soup.title.name)
print(soup.title.string)
print(soup.title.parent.name)
print(soup.p)
print(soup.p['class'])

<title>List of countries and dependencies by population - Wikipedia</title>
title
List of countries and dependencies by population - Wikipedia
head
<p class="mw-empty-elt">
</p>
['mw-empty-elt']

# list all table with attribute dict key

In [24]:
print(soup.table["class"])

['wikitable', 'sortable']

# Find table with class attribute

In [25]:
right_table =soup.find("table", {"class":"wikitable sortable"})

In [28]:
print(soup.table.attrs)

{'class': ['wikitable', 'sortable']}

In [32]:
for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    
len(cells)

6

In [ ]:
#

In [31]:
rows = right_table.findAll("tr")
len(rows)

244

# get table header

In [34]:
header = [th.text.rstrip() for th in rows[0].find_all('th')][1:]
print(header)

['Country / Dependency', 'Population', 'Date', 'Source (official or from the\xa0United Nations)', 'Notes']

In [35]:
len(header)

5

# crawl data from each cell from tablej

In [36]:
lst_data = []
for row in rows[2:]:
    data=[d.text.rstrip() for d in row.find_all("td")]
    lst_data.append(data)

In [37]:
len(lst_data)

242

# import panda and write data to dataframe

In [38]:
import pandas as pd

In [49]:
df = pd.DataFrame(lst_data)

In [50]:
df

,0,1,2,3,4,5,6
0,â€“,World,"7,993,926,000",100%,24 Nov 2022,UN projection[3],
1,China,"1,412,600,000",17.7%,31 Dec 2021,Official estimate[4],The population figure refers to mainland China...,None
2,India,"1,375,586,000",17.2%,1 Mar 2022,Official projection[5],The figure includes the population of the Indi...,None
3,United States,"333,310,455",4.17%,23 Nov 2022,Population clock[6],The figure includes the 50 states and the Dist...,None
4,Indonesia,"275,773,800",3.45%,1 Jul 2022,Official estimate[7],,None
...,...,...,...,...,...,...,...
237,Tokelau (New Zealand),"1,647",0%,1 Jan 2019,2019 Census [208],,None
238,Niue (New Zealand),"1,549",0%,1 Jul 2021,National annual projection[95],,None
239,Vatican City,825,0%,1 Feb 2019,Monthly national estimate[209],The total population of 825 consisted of 453 r...,None
240,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[210],,None
241,Pitcairn Islands (United Kingdom),47,0%,1 Jul 2021,Official estimate[211],,None

In [53]:
df.drop([5,6], axis=1, inplace=True)

In [54]:
df

,0,1,2,3,4
0,â€“,World,"7,993,926,000",100%,24 Nov 2022
1,China,"1,412,600,000",17.7%,31 Dec 2021,Official estimate[4]
2,India,"1,375,586,000",17.2%,1 Mar 2022,Official projection[5]
3,United States,"333,310,455",4.17%,23 Nov 2022,Population clock[6]
4,Indonesia,"275,773,800",3.45%,1 Jul 2022,Official estimate[7]
...,...,...,...,...,...
237,Tokelau (New Zealand),"1,647",0%,1 Jan 2019,2019 Census [208]
238,Niue (New Zealand),"1,549",0%,1 Jul 2021,National annual projection[95]
239,Vatican City,825,0%,1 Feb 2019,Monthly national estimate[209]
240,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[210]
241,Pitcairn Islands (United Kingdom),47,0%,1 Jul 2021,Official estimate[211]

In [56]:
df.drop(labels=0, axis=0, inplace=True)

In [57]:
df

,0,1,2,3,4
1,China,"1,412,600,000",17.7%,31 Dec 2021,Official estimate[4]
2,India,"1,375,586,000",17.2%,1 Mar 2022,Official projection[5]
3,United States,"333,310,455",4.17%,23 Nov 2022,Population clock[6]
4,Indonesia,"275,773,800",3.45%,1 Jul 2022,Official estimate[7]
5,Pakistan,"235,825,000",2.95%,1 Jul 2022,UN projection[3]
...,...,...,...,...,...
237,Tokelau (New Zealand),"1,647",0%,1 Jan 2019,2019 Census [208]
238,Niue (New Zealand),"1,549",0%,1 Jul 2021,National annual projection[95]
239,Vatican City,825,0%,1 Feb 2019,Monthly national estimate[209]
240,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[210]
241,Pitcairn Islands (United Kingdom),47,0%,1 Jul 2021,Official estimate[211]

In [58]:
new_cols = ["Country","Population","Percent","Date","Source"]
df.columns = new_cols
df.columns

Index(['Country', 'Population', 'Percent', 'Date', 'Source'], dtype='object')

In [60]:
df.tail()

,Country,Population,Percent,Date,Source
237,Tokelau (New Zealand),"1,647",0%,1 Jan 2019,2019 Census [208]
238,Niue (New Zealand),"1,549",0%,1 Jul 2021,National annual projection[95]
239,Vatican City,825,0%,1 Feb 2019,Monthly national estimate[209]
240,Cocos (Keeling) Islands (Australia),593,0%,30 Jun 2020,2021 Census[210]
241,Pitcairn Islands (United Kingdom),47,0%,1 Jul 2021,Official estimate[211]

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 1 to 241
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     241 non-null    object
 1   Population  241 non-null    object
 2   Percent     241 non-null    object
 3   Date        241 non-null    object
 4   Source      241 non-null    object
dtypes: object(5)
memory usage: 9.5+ KB

In [66]:
df["Population"] = df["Population"].apply(lambda x:float(x.split()[0].replace(",","")))

AttributeError: 'float' object has no attribute 'split'

In [67]:
df.head()

          Country    Population Percent         Date                  Source
1          Â China  1.412600e+09   17.7%  31 Dec 2021    Official estimate[4]
2          Â India  1.375586e+09   17.2%   1 Mar 2022  Official projection[5]
3  Â United States  3.333105e+08   4.17%  23 Nov 2022     Population clock[6]
4      Â Indonesia  2.757738e+08   3.45%   1 Jul 2022    Official estimate[7]
5       Â Pakistan  2.358250e+08   2.95%   1 Jul 2022        UN projection[3]

In [69]:
df["Population"] = df["Population"].astype(int)

In [77]:
df.head(10)

,Country,Population,Percent,Date,Source
1,China,1412600000,17.7%,31 Dec 2021,Official estimate[4]
2,India,1375586000,17.2%,1 Mar 2022,Official projection[5]
3,United States,333310455,4.17%,23 Nov 2022,Population clock[6]
4,Indonesia,275773800,3.45%,1 Jul 2022,Official estimate[7]
5,Pakistan,235825000,2.95%,1 Jul 2022,UN projection[3]
6,Nigeria,218541000,2.73%,1 Jul 2022,UN projection[3]
7,Brazil,215432668,2.69%,24 Nov 2022,National population clock[8]
8,Bangladesh,165158616,2.07%,15 Jun 2022,2022 preliminary census result[9]
9,Russia,145100000,1.82%,1 Sep 2022,Official estimate[10]
10,Mexico,128533664,1.61%,30 Jun 2022,National quarterly estimate[11]

In [75]:
df["Country"].nunique()

241

In [78]:
# save dataframe  as csv data 

df.to_csv("polulation.csv",index=False)

In [79]:
read_csv = pd.read_csv("polulation.csv")

In [80]:
read_csv.head()

          Country  Population Percent         Date                  Source
0          Â China  1412600000   17.7%  31 Dec 2021    Official estimate[4]
1          Â India  1375586000   17.2%   1 Mar 2022  Official projection[5]
2  Â United States   333310455   4.17%  23 Nov 2022     Population clock[6]
3      Â Indonesia   275773800   3.45%   1 Jul 2022    Official estimate[7]
4       Â Pakistan   235825000   2.95%   1 Jul 2022        UN projection[3]

In [81]:
fifa = requests.get("https://en.wikipedia.org/wiki/FIFA_World_Cup")

In [82]:
soup = BeautifulSoup(fifa.content, "html.parser")

In [85]:
print(soup.title.string)

FIFA World Cup - Wikipedia

In [91]:
right_table = soup.find_all("table", {"class":"wikitable sortable"})

In [101]:
for row in right_table[4].findAll("tr"):
    column = row.findAll("td")
    
len(column)

12

In [102]:
rows = right_table[4].find_all("tr")

In [109]:
print(rows[0])

<tr>
<th>Rank
</th>
<th>Team
</th>
<th>Participations
</th>
<th>Titles
</th>
<th>Pld
</th>
<th>W
</th>
<th>D
</th>
<th>L
</th>
<th>GF
</th>
<th>GA
</th>
<th>GD
</th>
<th>Pts
</th></tr>

In [104]:
header = [th.text.rstrip() for th in rows[0].find_all("th")]

In [106]:
print(header)
print(len(header))

['Rank', 'Team', 'Participations', 'Titles', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts']
12

In [112]:
print(rows[1:3])

[<tr>
<td>1
</td>
<td align="left"><span style="white-space:nowrap"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="504" data-file-width="720" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/22px-Flag_of_Brazil.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/33px-Flag_of_Brazil.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/43px-Flag_of_Brazil.svg.png 2x" width="22"/>Â </span><a href="/wiki/Brazil_national_football_team" title="Brazil national football team">Brazil</a></span>
</td>
<td>21
</td>
<td>5
</td>
<td>109
</td>
<td>73
</td>
<td>18
</td>
<td>18
</td>
<td>229
</td>
<td>105
</td>
<td>124
</td>
<td>237
</td></tr>, <tr>
<td>2
</td>
<td align="left"><span style="white-space:nowrap"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/46px-Flag_of_Germany.svg.png 2x" width="23"/>Â </span><a href="/wiki/Germany_national_football_team" title="Germany national football team">Germany</a></span><sup class="reference" id="cite_ref-125"><a href="#cite_note-125">[123]</a></sup>
</td>
<td>19
</td>
<td>4
</td>
<td>109
</td>
<td>67
</td>
<td>20
</td>
<td>22
</td>
<td>226
</td>
<td>125
</td>
<td>101
</td>
<td>221
</td></tr>]

In [113]:
lst_data = []
for row in rows[1:]:
    data = [d.text.rstrip() for d in row.find_all("td")]
    lst_data.append(data)
    
len(lst_data)

8

In [114]:
df_data = pd.DataFrame(lst_data)

In [116]:
df_data.head(10)

  0              1   2  3    4   5   6   7    8    9    10   11
0  1        Â Brazil  21  5  109  73  18  18  229  105  124  237
1  2  Â Germany[123]  19  4  109  67  20  22  226  125  101  221
2  3         Â Italy  18  4   83  45  21  17  128   77   51  156
3  4     Â Argentina  17  2   81  43  15  23  137   93   44  144
4  5        Â France  15  2   66  34  13  19  120   77   43  115
5  6       Â England  15  1   69  29  21  19   91   64   27  108
6  7         Â Spain  15  1   63  30  15  18   99   72   27  105
7  8       Â Uruguay  13  2   56  24  12  20   87   74   13   84

In [117]:
new_col = ['Rank', 'Team', 'Participations', 'Titles', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts']
df_data.columns = new_col

In [118]:
df_data

,Rank,Team,Participations,Titles,Pld,W,D,L,GF,GA,GD,Pts
0,1,Brazil,21,5,109,73,18,18,229,105,124,237
1,2,Germany[123],19,4,109,67,20,22,226,125,101,221
2,3,Italy,18,4,83,45,21,17,128,77,51,156
3,4,Argentina,17,2,81,43,15,23,137,93,44,144
4,5,France,15,2,66,34,13,19,120,77,43,115
5,6,England,15,1,69,29,21,19,91,64,27,108
6,7,Spain,15,1,63,30,15,18,99,72,27,105
7,8,Uruguay,13,2,56,24,12,20,87,74,13,84

In [119]:
df_data.to_csv("all_time_champs.csv", index=False)

In [120]:
all_champs = pd.read_csv("all_time_champs.csv")

In [121]:
all_champs.head(5)

,Rank,Team,Participations,Titles,Pld,W,D,L,GF,GA,GD,Pts
0,1,Brazil,21,5,109,73,18,18,229,105,124,237
1,2,Germany[123],19,4,109,67,20,22,226,125,101,221
2,3,Italy,18,4,83,45,21,17,128,77,51,156
3,4,Argentina,17,2,81,43,15,23,137,93,44,144
4,5,France,15,2,66,34,13,19,120,77,43,115